@import "tailwindcss";

@theme {
    --color-primary-black: #000409;
    --color-primary-light-gray: #1a222b;
    --color-primary-green: #d0ff15;
    --color-primary-white: #f0f5fa;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white)
}

/* styles.css */
.nav-item {
  @apply text-primary-white hover:text-primary-green text-2xl;
}
